body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  color: #1f1f1f;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

h1:hover {
  transform: scale(1.05); 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input {
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #007acc;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #005fa3;
  box-shadow: 0 0 10px rgba(0, 95, 163, 0.5);
  outline: none;
  background-color: #ffffff;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-color: #007cce;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #0060a4;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 95, 163, 0.4);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.visualizer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  margin: 20px 0;
  overflow-x: auto;
  border: 2px solid #007acc;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f9fb;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.visualizer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  width: 100%;
  position: relative;
  gap: 10px;
  display: flex;
  margin: 20px 0;
}

.bar {
  margin: 0 5px;
  background-color: #28a745;
  transition: height 0.3s, background-color 0.3s;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 20px;
  
}

.bar:hover {
  transform: scale(1.05); 
  background-color: #218838; 
}

.bar p {
  margin: 0;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 5px 0 0;
}

.bar:hover p {
  background-color: rgba(0, 0, 0, 0.85); 
}

